<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--useGeneratedKeys="true" keyProperty="id"意思是把dish插入数据库后，
    需要使用生成的主键值，并把主键值赋值给这个dish对象的id属性-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, create_time, update_time, create_user, update_user,status)
          values
              (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName  /*为什么c.name as categoryName 起别名，因为数据库查出来字段名为 name,而DishVO属性名为categoryName,起别名才能赋值*/
        from dish d left outer join category c
            on d.category_id=c.id
        <where>  <!--有了<where>这个注解就能取消掉and或者or或者where的影响-->
            <if test="name !=null">
                d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId !=null">
                and d.category_id=#{categoryId}
            </if>
            <if test="status !=null">
            and d.status=#{status}
            </if>
        </where>

       order by d.create_time desc
    </select>

    <update id="update">
       update dish
        <set> <!--<set>注解可以除掉，的影响-->
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
      where id=#{id}
    </update>
</mapper>
