<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">


    <update id="update"> /*根据主键修改员工信息*/
        update employee
        <set>    <!--<set>注解可以除掉，的影响-->
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone!= null and phone!= ''">
                 phone=#{phone},
            </if>
            <if test="sex!= null and sex!= ''">
                sex=#{sex},
            </if>
            <if test="idNumber!= null and idNumber!= ''">
                id_number = #{idNumber},
            </if>
            <if test="status!= null">
                status= #{status},
            </if>
            <if test="updateUser!= null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id=#{id}
    </update>


    <select id="page" resultType="com.sky.entity.Employee">
        select *
        from employee
        <where>  <!--有了<where>这个注解就能取消掉and或者or或者where的影响-->

            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')    /*模糊查询*/
            </if>
        </where>
        order by create_time desc /*按照创建时间降序来排*/
    </select>

</mapper>
